<div class="row">
  <div class="col-sm-10 col-sm-offset-1">

    <div class="footer">
      <p>Created with purpose by <a href="<%= websiteAuthorUrl %>"><%= websiteAuthorName %></a>. Powered by <a href="https://github.com/fedosejev/insight">Insight</a>.</p>
    </div>

  </div>
</div>