.page-day {
  .day {
    display: inline-block;
    margin: 0 10px 0 0px;
    font-size: 20px;
  }

  .content {
    margin: 40px 0 0 0;

    h1 {
      margin: 40px 0 20px 0;
    }

    p {
      font-size: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }

      strong {
        font-weight: 500;
      }
    }

    img {
      width: 100%;
    }

    .stock {
      font-weight: 500;
    }

    blockquote {
      margin: 10px 0;

      &:first-of-type {
        margin-top: 20px;
      }
    }
  }
}