.page-home {
  .year {
    margin: 0;
    font-size: 24px;
  }

  .month {
    margin: 40px 0 10px 0;
    font-size: 18px;
  }

  .day {
    display: inline-block;
    margin: 0 10px 0 0px;
    font-size: 18px;
  }
}