.page-day {
  .day {
    display: inline-block;
    margin: 0 10px 0 0px;
    font-size: 24px;
  }

  .content {
    h1 {
      margin: 40px 0 20px 0;
    }

    p {
      font-size: 20px;
    }
  }
}