@import 'https://fonts.googleapis.com/css?family=Great+Vibes';
@import 'https://fonts.googleapis.com/css?family=Karma:300,400,500,600,700';
body {
  font-weight: 300;
  color: #222; }

a {
  color: #0080ff; }
  a:hover, a:active, a:focus {
    color: #222;
    text-decoration: none; }

.page .content-container {
  padding: 40px 0; }
  .page .content-container h3,
  .page .content-container h4,
  .page .content-container h5 {
    font-weight: 300; }
  .page .content-container .fa {
    color: #888; }
  .page .content-container .content {
    font-family: 'Karma', serif; }

.header {
  padding: 40px 0 0 0; }
  .header .website-name {
    font-family: 'Great Vibes', cursive;
    font-size: 36px; }

.footer {
  padding: 0 0 40px 0;
  font-size: 14px;
  font-weight: 300;
  color: #888; }

.page-home .year {
  margin: 0;
  font-size: 20px; }

.page-home .month {
  margin: 10px 0;
  font-size: 20px; }

.page-home .day {
  display: inline-block;
  margin: 0 10px 0 0px;
  font-size: 20px; }

.page-year .year {
  margin: 0 0 10px 0;
  font-size: 20px; }

.page-year .month {
  margin: 10px 0;
  font-size: 20px; }

.page-year .day {
  display: inline-block;
  margin: 0 10px 0 0px;
  font-size: 20px; }

.page-month .month {
  margin: 0 0 10px 0;
  font-size: 20px; }

.page-month .day {
  display: inline-block;
  margin: 0 10px 0 0px;
  font-size: 20px; }

.page-day .day {
  display: inline-block;
  margin: 0 10px 0 0px;
  font-size: 20px; }

.page-day .content {
  margin: 80px 0 50px 0; }
  .page-day .content h1 {
    margin: 40px 0 20px 0; }
  .page-day .content p {
    font-size: 26px; }
